<div class="div-lista-cursos-container">
    <div class="div-cursos" [@animationTriggerListaCursos]>
        <app-curso-selecao-listar-component
            #listaCursoComponente
            (inscreverEmitter)="inscrever($event)"
            (continuarEmitter)="continuarCurso($event)"
            (certificadoEmitter)="emitirCertificado($event)"
        >
        </app-curso-selecao-listar-component>
    </div>
</div>
<app-loading-indicator-component [carregando]="carregandoCursos"> </app-loading-indicator-component>
