.mat-custom-info {
    color: rgb(161, 161, 161);
}

.icone-dropdown {
    margin-left: 5px;
    border-width: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    outline: none !important;
    outline-style: none !important;
}
