table {
    width: 100%;
}

.loading-shade {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

td.mat-column-acoes {
    width: 20px;
}

.center {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.center-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.logo {
    width: 60%;
}

mat-chip {
    align-items: center;
}

mat-chip mat-icon {
    margin-right: 8px;
    vertical-align: middle;
}
.card-cursos {
    margin: 0px 0px 10px 0px;
}
.card-cursos .mat-mdc-card-content{
    padding: 10px 10px 10px 10px;
}
.card-cursos .mat-mdc-card-header{
    padding: 10px 10px 10px 10px;
}
.concluido .mat-mdc-card-header, .concluido .mat-mdc-card-actions {

    background-color: #2b3760;
}

.em-andamento{

    background-color: #A9ECA2;
}

.em-andamento .mat-mdc-card-header {

    background-color: #85d47c;
}
.nao-iniciado {

    background-color: #faf7a9;
}
.nao-iniciado .mat-mdc-card-header {
    background-color: #f8f27c;
}

.reprovado .mat-mdc-card-header {
    background-color: #9e5344;
}