<app-main-nav></app-main-nav>
<mat-toolbar color="secondary" *ngIf="(dadosTabelaEmAndamento$ | async)?.length && usuario$ | async">
    <mat-toolbar-row>
        <span>Cursos em Andamento</span>

        <span class="nav-spacer"></span>

        <button mat-icon-button (click)="atualizarListaCursos()">
            <mat-icon aria-hidden="false">refresh</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!(dadosTabelaEmAndamento$ | async)?.length && !(dadosTabelaEmNaoIniciado$ | async)?.length && (usuario$ | async)" class="center">
    <img alt="Nenhum cursp" src="./assets/sem-cursos.png" />
    <div class="mat-caption">Sem cursos</div>
    <button mat-icon-button (click)="atualizarListaCursos()">
        <mat-icon aria-hidden="false">update</mat-icon>
    </button>
</div>
<div *ngIf="!(usuario$ | async)" class="center-vertical-horizontal">
    <img alt="Entrar" class="logo" src="./assets/logo_sisvetor.png" />
</div>
<mat-card 
    *ngFor="let cursoUsuario of dadosTabelaEmAndamento$ | async; let last = last"
    class="card-cursos"
    [ngClass]="{'nao-iniciado card-cursos': cursoUsuario.status === 'NAO_INICIADO', 'em-andamento card-cursos': cursoUsuario.status === 'EM_ANDAMENTO', 'concluido card-cursos': cursoUsuario.status === 'CONCLUIDO', 'reprovado card-cursos': cursoUsuario.status === 'REPROVADO' }">
    <mat-card-header>
        <mat-card-title>{{ cursoUsuario.curso.sigla }}</mat-card-title>
        <mat-card-subtitle>{{ cursoUsuario.curso.nome }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content><p>{{ cursoUsuario.curso.descricao }}</p></mat-card-content>
    
    <mat-card-actions *ngIf="cursoUsuario.status === 'NAO_INICIADO'">
        <button mat-raised-button (click)="inscrever(cursoUsuario)">Inscrever-me</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="cursoUsuario.status === 'EM_ANDAMENTO'">
        <button mat-raised-button (click)="continuarCurso(cursoUsuario)">Continuar</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="cursoUsuario.status === 'CONCLUIDO'">
        <button mat-raised-button (click)="emitirCertificado(cursoUsuario)">Emitir Certificado</button>
    </mat-card-actions>
</mat-card>


<mat-toolbar color="secondary" *ngIf="(dadosTabelaEmNaoIniciado$ | async)?.length && usuario$ | async">
    <mat-toolbar-row>
        <span>Novos Cursos</span>

        <span class="nav-spacer"></span>

        <button mat-icon-button (click)="atualizarListaCursos()">
            <mat-icon aria-hidden="false">refresh</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card 
    *ngFor="let cursoUsuario of dadosTabelaEmNaoIniciado$ | async; let last = last"
    class="card-cursos"
    [ngClass]="{'nao-iniciado card-cursos': cursoUsuario.status === 'NAO_INICIADO', 'em-andamento card-cursos': cursoUsuario.status === 'EM_ANDAMENTO', 'concluido card-cursos': cursoUsuario.status === 'CONCLUIDO', 'reprovado card-cursos': cursoUsuario.status === 'REPROVADO' }">
    <mat-card-header>
        <mat-card-title>{{ cursoUsuario.curso.sigla }}</mat-card-title>
        <mat-card-subtitle>{{ cursoUsuario.curso.nome }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content><p>{{ cursoUsuario.curso.descricao }}</p></mat-card-content>
    
    <mat-card-actions *ngIf="cursoUsuario.status === 'NAO_INICIADO'">
        <button mat-raised-button (click)="inscrever(cursoUsuario)">Inscrever-me</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="cursoUsuario.status === 'EM_ANDAMENTO'">
        <button mat-raised-button (click)="continuarCurso(cursoUsuario)">Continuar</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="cursoUsuario.status === 'CONCLUIDO'">
        <button mat-raised-button (click)="emitirCertificado(cursoUsuario)">Emitir Certificado</button>
    </mat-card-actions>
</mat-card>